/target/
/.settings/
/.project
/pom.xml.versionsBackup

.classpath
.project
.tern-project
faces-config-NavData
nb-configuration.xml
nbactions.xml
faces-config.NavData
.DS_Store
/bin/

./git-alrr/
./git-heliton/
/mvnw
/mvnw.cmd
/.factorypath
/.mvn/
